@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #de9c9d;
    font-family: 'Sofia Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    font-family: inherit;
    background-color: #f7e7e7;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    opacity: 0.9;
}