@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    color: #fff;
    font-family: 'Sofia Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

input, button {
    font-family: inherit;
}

.container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: mediumslateblue;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: mediumslateblue;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    padding: 10px 0;
    color: #fff;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 25px;
}

.form-control {
    position: relative;
    margin: 30px 0 50px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: mediumslateblue;
}

.form-control label {
    position: absolute;
    top: 0;
    left: 0;
}

.form-control label span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.7, -0.5, 0.3, 1.5);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: mediumslateblue;
    transform: translateY(-100%);
}